<div class="crypt-side-menu crypt-left-sided crypt-floatable-menu bg-white">
	<ul>
		<li><a href=""><i class="pe-7s-graph1"></i> Dashboard</a></li>
	</ul>
	<hr>
	<p>Market</p>
	<ul>
		<li><a href=""><i class="pe-7s-way"></i> Exchange</a></li>
		<li><a href=""><i class="pe-7s-gym"></i> Leverage</a></li>
	</ul>
	<hr>
	<p>Account</p>
	<ul>
		<li><a href=""><i class="pe-7s-wallet"></i> Wallet</a></li>
		<li><a href=""><i class="pe-7s-cash"></i> Card</a></li>
		<li><a href=""><i class="pe-7s-wristwatch"></i> History</a></li>
	</ul>
</div>