<div id="otc_market_trades_container">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#" class="active all" data-toggle="tab">market trading</a></li>
    <li role="presentation"><a href="#" data-toggle="tab" class="my">mine trading</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="history">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= t('.time') %></th>
          <th scope="col"></th>
          <th scope="col"><%= t('.price') %></th>
          <th scope="col"><%= t('.volume') %></th>
        </tr>
        </thead>
      </table>
      <table class="table table-hover otc-all-trades">
        <tbody></tbody>
      </table>
      <table class="table table-hover otc-my-trades">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>