<div class="crypt-boxed-area mt-4">
  <h6 class="crypt-bg-head" style="padding: 17px;"><b class="crypt-up"><%= t('.otc_desk') %></b></h6>
  <div class="row no-gutters">
    <div class="container-fluid">
      <p style="font-size: 16px">
        Here you have a chance to place larger volume orders that are not traded on the open market in a
        peer-to-peer manner, instead the Tradeherald Exchange Team is acting as a broker and connecting large
        volume buyers and sellers.

        Orders can be filled either using the internal exchange wallet for deposit once completed, or by
        providing an external wallet of your choice to deposit the filled OTC transaction into.

        The OTC Desk has a minimum order amount starting at 20 BTC as a benchmark.

        Please place your OTC request today and someone will get in touch with you as soon as we find a buyer
        or seller within a reasonable range from your order to start the negotiations process. Please note
        that this can take some time before you are contacted.

        We appreciate your patience and cooperation.

      </p>
    </div>
  </div>
</div>