<!-- <div id="depths_wrapper" class="panel panel-default">
  <div class="panel-body panel-body-content">
    <div id="depths"></div>
  </div>
</div>
 -->

 <div id="depths_wrapper" class="depthchart h-40 crypt-dark-segment">
  <div class="panel-body panel-body-content">
    <div id="depths"></div>
  </div>
</div>
