<% content_for :frame do %>
  <h1 class="text-center p-2">
    Otc Orders
  </h1>

  <div class="container">
    <%= table_for @otc_orders, class: 'table table-condensed table-striped' do |table| %>
      <% table.column :id %>
      <% table.column :ask %>
      <% table.column :bid %>
      <% table.column :otc_market_id %>
      <% table.column :price %>
      <% table.column :volume %>
      <% table.column :type %>
      <% table.column :action do |otc_order| %>
        <%= link_to :view, otc_order_path(otc_order) %>
      <% end %>
    <% end %>
  </div>

<% end %>